*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

.card{
    max-width: 500px;
    min-width: 500px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #f4f4f4;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card .value{
    padding:30px;
    font-size: 5rem;
    line-height: .8;

}
.card .value:last-child{
    transform: rotate(0.5turn);
    align-self: flex-end;
}
.card>.sign{
    font-size:20rem;
    align-self:center;
}